# EmailJS Configuration
VITE_EMAILJS_SERVICE_ID=service_285axoo
VITE_EMAILJS_TEMPLATE_ID=template_jck7668
VITE_EMAILJS_PUBLIC_KEY=VPhXc8psc2H3gyDuc

# WhatsApp Number
VITE_WHATSAPP_NUMBER=2290161013119
